.imagelinkform {
  margin: 2rem auto;
  width: 50%;
  padding: 1rem;
  background-color: white;
  border-radius: 2.5rem;
  border: 2px solid rgb(255, 149, 0);
  filter: drop-shadow(.5rem .5rem 10px rgba(0,0,0,0.4));
}

.prompt {
  padding: 1rem 0 2rem 0;
  font-weight: 900;
}

.inputform {
  display: flex;
  justify-content: space-around;
}

.input {
  border: none;
  width: 50%;
  min-width: 5rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  border-radius: 2.5rem;
  transition: all 0.2s ease;
  filter: drop-shadow(0px 1px 3px rgba(255,149,0,0.4));
}

.input:focus {
  filter: drop-shadow(0px 1px 2px rgba(255, 149, 0, .7));
  outline: none;
}

.button {
  border: none;
  width: 30%;
  min-width: 5rem;
  height: 2rem;
  margin-left: .2rem;
  border-radius: 2.5rem;
  font-size: 1rem;
  font-weight: 800;
  color: rgb(255, 149, 0);
  border: 2px solid rgba(255, 149, 0, 0.7);
  background-color: white;
  transition: all .5s ease;
}

.button:hover{
  transform: scale(1.05);
  color: white;
  background-color: black;
  cursor: pointer;
}

.button:active {
  transform: scale(1);
}