.nav {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  border-bottom: 3px solid rgba(0,0,0,.8);
  width: 75%;
  margin: 0 auto;
}

.logo {
  padding: .25rem;
  height: 5rem;
  width: 5rem;
}

.nav-button {
  padding: 2rem;
  width: 10rem;
  transition: all 0.1s ease;
}

.nav-button_signout {
  border: 2px solid #FF9500;
  font-weight: 700;
  transition: all 0.5s ease;
  color: #ff9500;
}

.nav-button_signout:hover {
  transform: scale(1.05);
  color: white;
  background-color: black;
  cursor: pointer;
}

.nav-button_signout:active {
  transform: scale(1);
}

.nav-button_signin {
  border: 2px solid #FF9500;
  font-weight: 700;
  margin-right: .5rem;
  transition: all 0.5s ease;
  color: #ff9500;
}

.nav-button_signin:hover {
  transform: scale(1.05);
  background-color: black;
  color: white;
  cursor: pointer;
}

.nav-button_signin:active {
  transform: scale(1);
}


.nav-button_register {
  border: 2px solid #FF9500;
  font-weight: 700;
  transition: all .5s ease;
  color: #ff9500;
}

.nav-button_register:hover {
  transform: scale(1.05);
  background-color: black;
  color: white;
  cursor: pointer;
}

.nav-button_register:active {
  transform: scale(1);
}

.nav-button-group {
  display: flex;
}

